--index-url https://pypi.org/simple
#--extra-index-url https://download.pytorch.org/whl/cu117

torch >=2.1 #==1.13.1+cu117 #torch>=2.0.0
torchvision #==0.14.1+cu117 #torchvision>=0.15.0
numpy #<2
pillow>=9.0.0
tqdm>=4.62.0
pyyaml>=6.0
requests>=2.27.0
matplotlib>=3.5.0
opencv-python>=4.5.0
pycocotools>=2.0.4
scipy>=1.7.0
scikit-learn

wandb
faiss-cpu
cv-bridge